@font-face {
    font-family: 'Orbitron Light';
    src: url('/assets/fonts/Orbitron Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron Bold';
    src: url('/assets/fonts/Orbitron Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background: black;
    font-family: 'Orbitron Light', sans-serif;
}

.hidden {
    display: none !important;
}

.fade-out {
    opacity: 0;
}

.loading-screen {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E61E32;
}

.loading-text {
    display: flex;
}

.loading-text .dot {
    animation: blink 1.4s infinite ease-in-out both;
}

.loading-text .dot:nth-child(1) {
    animation-delay: -0.32s;
}

.loading-text .dot:nth-child(2) {
    animation-delay: -0.16s;
}


.neon-red {
    color: #E61E32;
    filter: drop-shadow(0 0 1px #E61E32) drop-shadow(0 0 5px #E61E32);
}

.neon-white {
    color: white;
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 3px white);
}


.progress-bar {
    border-style: solid;
    border-color: #E61E32;
    padding: 5px;
    width: 50%;
    min-width: 320px;
}

.progress-meter {
    height: 10px;
    background-color: #E61E32;
    width: 0;
    transition: width 0.3s ease-out;
    will-change: width;
}

.wrapper {
    display: flex;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.show-ui {
    display: flex;
    position: absolute;
    pointer-events: none;
    right: 0;
    transition: opacity 1s ease;
}

.circle-fill {
    transform: translate(200px, 323px) scale(1.5);
    fill: white;
}

.circle-half-fill {
    transform: translate(200px, 323px) scale(1.5);
    fill: white;
}

.transparent {
    fill: #FFFFFF40;
}

.arrows {
    transform: translate(273px, 320px) scale(2);
    fill: white;
}

.eye {
    transform: translate(42px, 12px) scale(2);
    fill: white;
}

.eye-slash {
    transform: translate(351px, 320px) scale(2);
    fill: white;
}

.polygon {
    stroke-width: 3px;
    stroke: #E61E32;
    padding: 10px;
    fill: #E61E320C;
    pointer-events: fill;
}

.polygon-white {
    stroke-width: 3px;
    stroke: white;
    padding: 10px;
    fill: #FFFFFF0C;
    pointer-events: fill;
}

.button-polygon {
    stroke-width: 3px;
    stroke: white;
    padding: 10px;
    fill: #FFFFFF0C;
    pointer-events: fill;
    cursor: pointer;
}

.button-polygon:hover {
    transform: translate(0px, 3px);
}

.button-polygon.active {
    transform: translate(0px, 3px);
}

#button-1:hover ~ .circle-fill {
    transform: translate(200px, 326px) scale(1.5);
}

#button-1:hover ~ .circle-half-fill {
    transform: translate(200px, 326px) scale(1.5);
}

#button-2:hover ~ .arrows {
    transform: translate(273px, 323px) scale(2);
}

#button-2.active ~ .arrows {
    transform: translate(273px, 323px) scale(2);
}

#button-3:hover ~ .eye {
    transform: translate(351px, 323px) scale(2);
}

#button-3:hover ~ .eye-slash {
    transform: translate(351px, 323px) scale(2);
}

.button-info {
    text-align: center;
    margin: 30px 0 0 0;
}

.info {
    position: absolute;
    left: 24px;
    color: white;
}

.site-info {
    text-align: right;
    position: absolute;
    right: 24px;
    color: white;
}

.site-info-svg {
    position: absolute;
    right: 0;
}

.moon-scale-content {
    margin: 40px 0 0 0;
}

.moon-scale-up {
    display: flex;
    justify-content: space-between;
}

.moon-scale-range {
    -webkit-appearance: none;
    appearance: none;
    width: stretch;
    background-color: transparent;
}

.moon-scale-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #E61E32;
    cursor: pointer;
}

.moon-scale-range::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #E61E32;
    cursor: pointer;
}

.rail {
    height: 30px;
    display: flex;
    position: relative;
    top: -35px;
    width: stretch;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.left-rail {
    height: 4px;
    width: 15.5px;
    background: white;
}

.right-rail {
    height: 4px;
    width: 381.5px;
    background: white;
}

.moon-scale-input {
    font-family: 'Orbitron Light', sans-serif;
    font-size: 24px;
    background: transparent;
    width: 150px;
    border: none;
    text-align: right;
}

.clock {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: stretch;
}

.contributions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    width: stretch;
    height: stretch;
    justify-content: flex-end;
    right: 24px;
    bottom: 24px;
}

.contributions-svg {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: stretch;
    height: stretch;
    justify-content: flex-end;
}


.day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 5px;
    margin-top: 22px;
}

.months {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.small-text {
    font-family: 'Orbitron Light', sans-serif;
    font-size: 18px
}


.normal-text {
    font-family: 'Orbitron Light', sans-serif;
    font-size: 24px
}

.medium-text {
    font-family: 'Orbitron Light', sans-serif;
    font-size: 36px;
}

.large-text {
    font-family: 'Orbitron Bold', sans-serif;
    font-size: 48px;
}

span {
    pointer-events: fill;
}

input {
    pointer-events: fill;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@keyframes brokenLight {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
        filter: drop-shadow(0 0 1px #E61E32) drop-shadow(0 0 5px #E61E32);
    }
    20%, 24%, 55% {
        opacity: 1;
        filter: none;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes show {
    0%, 100% {
        opacity: 1;
    }
}

.neon-red::selection {
    background: #E61E32;
    color: white;
}

.neon-white::selection {
    background: white;
    color: #E61E32;
}

::selection {
    background: white;
    color: #E61E32;
}

.ContributionCalendar-day {
    fill: #170305;
    shape-rendering: geometricprecision;
    background-color: #170305;
    border: .5px solid transparent;
    border-radius: 2px;
    height: 7px !important;
    width: 7px !important;
}

.ContributionCalendar-day[data-level="1"] {
    fill: #5B0a12;
    background-color: #5B0a12;
    filter: drop-shadow(0 0 1px #5B0a12) drop-shadow(0 0 5px #5B0a12);
}

.ContributionCalendar-day[data-level="2"] {
    fill: #890F1B;
    background-color: #890F1B;
    filter: drop-shadow(0 0 1px #890F1B) drop-shadow(0 0 5px #890F1B);
}

.ContributionCalendar-day[data-level="3"] {
    fill: #B71424;
    background-color: #B71424;
    filter: drop-shadow(0 0 1px #B71424) drop-shadow(0 0 5px #B71424);
}

.ContributionCalendar-day[data-level="4"] {
    fill: #E61E32;
    background-color: #E61E32;
    filter: drop-shadow(0 0 1px #E61E32) drop-shadow(0 0 5px #E61E32);
}

.ContributionCalendar-grid {
    border-collapse: separate;
    pointer-events: fill;
}